.notFound{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notFound h1{
    font-size: 130px;
}

.notFound a{
    text-decoration: none;
    background-color: blue;
    color: aliceblue;
    padding: 14px;
    margin-top: 14px;
}